/* CSS Reset */


* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em; }

body {
    background: #fff;
    color: #545454;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em; }



h1, h2, h3 {
    font-weight: normal;
    color: #222;
    text-align: center;}

h2 {
    margin-top: 1.3em;
}

b, strong {
    font-weight: 600;}

samp {
    display: none;}


p, li {
    margin-bottom: 1.5em;
    line-height: 1.5;}

h1 {
    font-size: 4em;
    margin-top: 1em margin-bottom: 1em }

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
    font-style: italic;
}

header h2 {
    font-style: italic;
    font-size: 1.8em;
    color: #333;
}

hgroup {
    margin-bottom:
}

.intro {
    font-size: 1.25em;
    line-height: 1.25em;
}

blockquote {
    padding: 1em 0 2em 0;
    font-size: 1.75em;
    line-height: 1.4em;
    hanging-punctuation: first;
    text-indent: -0.45em;
    margin: 0;
    color: darkgray;
    font-style: italic;
    
}

blockquote cite {
    font-size: .75em;
}

cite {
    color: darkgray;
}

.anchor {
    text-transform: uppercase;
}

.leader {
    text-transform: uppercase;
}

.dropcap  {
  float: left;
font-size: 4.7em;
    line-height: .5em;
    margin-right: 0;
}

.version2 {
    font-family: 'Open Sans', sans-serif;
}

.version2 p+p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -0.1em;
}

.version2 p+p+p { 
    font-family: 'Open Sans', sans-serif;
    text-indent: 1.5em;
}

.version2 cite {
    text-transform: uppercase;
}
    

.version3 {
    font-family: 'Open Sans', sans-serif;
}

.version3 blockquote {
    color: darkgray;
}

.version3 h1, h2, {
    font-family: 'Roboto Slab', serif; }

.version3 blockquote {
    font-family: 'Roboto Slab', serif; }

hr {
    margin: 4em 0;
	height: 1px;
    background-color: red;
    color: red;
    border: 0 none;
}



        
/*---Tablet------*/

@media (max-width: 50em){
    body {
        background-color: thistle;
        margin: auto 0;
        width: 85%;
        font-size: 115%;}
        
        article {
            width: 95%;
            padding: 0.5em;}
    }
    
/*---Smartphone------*/

@media (max-width: 30em){
    
    body {
        background-color: aqua;
        margin: auto 0;
        width: 90%;
        font-size: 115%;}
    
    h1 {font-size: 3em;}
    
    blockquote{font-size: 1.5em}
}
        